<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Oswald&family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    <title>Globo</title>
</head>

<body>
    <div class="grid-layout" id="app">
            
        <div Class="Superior">

            <p><img :src="fotoGlobo" alt=""> </p>
            <input id="txtUsuario" placeholder="Ingresar usuario" v-model="usuario">

            <br>
            <br>
        </div>

        <div class="Info-Profile">

            <img :src="fotoPerfil" alt="Foto de Perfil" width="300px" id="foto-perfil">
            <p v-for="datos in datosPersonales">{{datos}}</p>

            <button id="btnSeguir" @click="seguir">{{ btnSeguir}}</button>

        </div>
        <div class=" About-Me">

            <h3>Sobre mi</h3>
            <p>{{descripcion}} </p>

        </div>

        <div class="Perfil-Post">
            <p>Publicado hace 1 Semana </p>

            <img :src="posteo" alt="Imagen" srcset="" width="300px" id="Posteo">
            <button id="btnLike" @click="numLike" :disabled="disableButton">Me gusta</button>
            <div>{{numeroLike}} like </div>



            <h5>Comentarios</h5>

            <div class="Coments">
                <p>{{comentario1}}</p>

                <p>{{comentario2}} </p>
                <div>

                    <p v-for="comentario in nuevoComentario" :key="comentario.id" >{{ comentario.usuario }} : {{
                        comentario.comentario }} 
                        <button id="btnEliminar" @click="eliminarComentario(comentario.id)"
                        v-if="mostrarBtn">Eliminar</button>

                    </p>
                    
                </div>

                <div>
                    <input id="txtComentario" placeholder="Ingrese su Comentario" v-model="comentario">

                    <button id="btnComentar" @click="agregarComentario" :disable="bComentar">Comentar</button>
                    <p v-if="mostrarError"> No ingreso usuario o comentario</p>
                </div>


            </div>

        </div>
    </div>


    <script src="script.js"></script>
    <script>const mountedApp = app.mount('#app') </script>

</body>

</html>